


.tagLine
{
	font-weight: 350;
	font-size: 50px;
	margin-top: 10vh;
}

.name
{	
	
	margin-top: -4vh;
	font-size: 100px;
	color: #66FCF1;
}

.about
{
	font-size: 18px;
	font-weight: 12;
	width: 40vw;
	letter-spacing: 2px;
}

.btnContact
{
	margin-top: -5vh;
	border-color: #66FCF1;
	color: #66FCF1;
}

.btnContact:hover
{

	color: #0b0c10;
	background-color: #66FCF1;
}