.backgroundSection
{

	background-color: #6d7f95;
	color: #FCF6F5;

}


.tagLine
{
	font-weight: 350;
	font-size: 50px;
	margin-top: 10vh;
}

.name
{	
	
	margin-top: -4vh;
	font-size: 100px;
	color: #202832;
}

.about
{
	font-size: 18px;
	font-weight: 12;
	width: 40vw;
	letter-spacing: 2px;
}

.btnContact
{
	margin-top: -5vh;
	color: #202832;
	border-color: #202832;
}

.btnContact:hover
{

	color: #0b0c10;
	background-color: #FCF6F5;
	border-color: #FCF6F5;
}



@media only screen and (max-width: 600px)
{
		.tagLine
	{
		text-align: right;
		margin-top: 22vh;
		font-weight: 350;
		font-size: 20px;
		margin-left: 10vw;
		margin-bottom: 3vh;

		
	}

	.name
	{	

		text-align: right;
		font-size: 33px;
		margin-left:10vw;
		
	}

	.about
	{
		text-align: right;
		font-size: 12px;
		font-weight: 12;
		margin-left: 10vw;
		width: 60vw;
		
	}

	.btn 
	{
		padding-top: 0.35em;
		margin-top: -7vh;
		margin-left: 47vw;
		font-size:11px;
		width: 22vw;
		height: 3.5vh;

	}



}

@media only screen and (min-width: 600px) and (max-width: 1200px)
{

		.tagLine
	{
		margin-top: 25vh;
		font-weight: 350;
		font-size: 25px;
		margin-left: 10vw;
		margin-bottom: 4vh;
		
	}

	.name
	{	
		font-size: 45px;
		margin-left:10vw;
		
	}

	.about
	{
		font-size: 12px;
		font-weight: 12;
		margin-left: 10vw;
		width: 50vw;
		
	}

	.btn 
	{
		margin-top: -7vh;
		margin-left: 10vw;
		font-size:11px;
		width: 15vw;
		height: 3vh;

	}

}








