.backgroundSection
{

	background-color: #0b0c10;
	color: #C5C6C7;

}


.tagLine
{
	font-weight: 350;
	font-size: 50px;
	margin-top: 10vh;
}

.name
{	
	
	margin-top: -4vh;
	font-size: 100px;
	color: #66FCF1;
}

.about
{
	font-size: 18px;
	font-weight: 12;
	width: 40vw;
	letter-spacing: 2px;
}

.btnContact
{
	margin-top: -5vh;
	border-color: #66FCF1;
	color: #66FCF1;
}

.btnContact:hover
{

	color: #0b0c10;
	background-color: #66FCF1;
}


@media (max-width: 576px)
{
		.tagLine
	{
		margin-top: 22vh;
		font-weight: 350;
		font-size: 20px;
		margin-left: 10vw;
		
	}

	.name
	{	
		
		font-size: 35px;
		margin-left:10vw;
		
	}

	.about
	{
		font-size: 12px;
		font-weight: 12;
		margin-left: 10vw;
		width: 50vw;
		
	}

	.btn 
	{
		margin-top: -7vh;
		margin-left: 10vw;
		font-size:11px;
		width: 22vw;
		height: 4.5vh;

	}



}