.leftMargin 
{
	margin-left: 3vw;
	margin-top: 28vh;
}

.spaceBetween
{
	margin-bottom: 5vh;
}

.icons-react
{
	color: #202832;
}

.icons-react:hover
{
	color: #FCF5F6;
}


@media only screen and (max-width: 600px) 
{

	.leftMargin 
	{
		margin-top: 22vh;
		margin-left: 0vw;
	}

}



