@font-face {
  font-family: "SF Display-R";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

.headingSection
{
	float: right;
	font-size: 40px;
	font-family: "SF Display-R";
}




