.cardBackground {
	background-color: #303f50;
	width: 70vw;
	height:45vh;
}

.logo {
	margin-left: 22vw;
	width: 10vw;
}


.cardTitle {
	color:#FCF5F6;
}

.time {
	font-weight:100;
	float:right;
	font-size:14px;
}

.cardSubtitle {
	margin-top: -2vh;
	font-size:16px;
	font-weight:300;
	color:#FCF5F6;
}



.location {
	margin-top: -1vh;
	font-size:14px;
	float:right;
	font-weight:100;
	color:#FCF5F6;
}



.ul {
	text-align: left;
	width: 60vw;
	margin-top: 4.5vh;
	font-weight: 300;
}

.ul:hover{
	font-weight: 300;
}

.li {
	margin-left: 10vh;
	margin-bottom: 2vh;
}



@media only screen and (max-width: 600px)
{
	.cardBackground {
		background-color: #303f50;
		width: 120vw;
		height:110vh;
	}

	.ul {
		text-align: left;
		width: 85vw;
		margin-top: 4.5vh;
		font-weight: 300;
	}

	.li {
		margin-left: -2vh;
		margin-bottom: 2vh;
	}

	.logo {
		margin-left: 22vw;
		width: 0vw;
	}

	.location {
		margin-top: -0.1vh;
		font-size:14px;
		float:right;
		font-weight:100;
		color:#FCF5F6;
	}

	.cardSubtitle {
		margin-top: -1.5vh;
		
	}
}


@media only screen and (min-width: 600px) and (max-width: 1200px)
{
	.cardBackground {
		background-color: #303f50;
		width: 120vw;
		height:95vh;
		padding: 2vw;
	}

	.ul {
		text-align: left;
		width: 85vw;
		margin-top: 4.5vh;
		font-weight: 300;
	}

	.li {
		margin-left: -2vh;
		margin-bottom: 2vh;
	}

	.logo {
		margin-left: 22vw;
		width: 0vw;
	}

	.location {
		margin-top: -0.1vh;
		font-size:14px;
		float:right;
		font-weight:100;
		color:#FCF5F6;
	}

	.cardSubtitle {
		margin-top: -1.5vh;
		
	}
}