@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

body
{
	background-color: #0b0c10;
	color: #C5C6C7;
	font-family: "SF Display";
	
}

a
{
	color:#66FCF1;
}

a:hover
{
	color: #66FCF1;
	font-weight: bold;
	text-decoration: overline;
	text-decoration-color: #45A29E;
}


/**

FONTS:;

https://gist.github.com/AndrewBarba/2c0f6612ceef30f5f55d

**/