.spaceRight
{
	margin-top:2vh;
	margin-right: 1vw;
	color: #202832;
	font-size: 14px;
}

.spaceRight:hover
{
	color: #FCF5F6;
	text-decoration: overline;
	text-decoration-color: #FCF5F6;
}

.justifyContentEnd
{
	height: 5vh;
	margin-left: 90vw;
	
}



@media only screen and (max-width: 600px) 
{
	.justifyContentEnd
	{
		font-size: 12px;
		height: 5vh;
		margin-left: 70vw;
	}

}