.justifyContentEnd
{
	margin-top: 1vh;
	height: 5vh;
	margin-left: 85vw;
	
}



@media only screen and (max-width: 600px) 
{
	.justifyContentEnd
	{
		font-size: 12px;
		height: 5vh;
		margin-left: 70vw;
	}

}