body
{
	background-color: #6d7f95;
	color: #FCF6F5;
	font-family: system-ui;
}

a
{
	color: #202832;
}

a:hover
{
	color: #FCF5F6;
	font-weight: bold;
	text-decoration: overline;
	text-decoration-color: #FCF5F6;
}




/*

Color Themes:

Background-Color: #6d7f95;
Name/Icons-Color: #202832;
	Hover/-Color: #FCF5F6;



@media only screen and (max-width: 600px) {...}


@media only screen and (min-width: 600px) {...}


@media only screen and (min-width: 768px) {...}

@media only screen and (min-width: 992px) {...}

@media only screen and (min-width: 1200px) {...}
*/