body
{
	background-color: #0b0c10;
	color: #C5C6C7;
	font-family: system-ui;
	
}

a
{
	color:#66FCF1;
}

a:hover
{
	color: #66FCF1;
	font-weight: bold;
	text-decoration: overline;
	text-decoration-color: #45A29E;
}


/*
@media only screen and (max-width: 600px) {...}


@media only screen and (min-width: 600px) {...}


@media only screen and (min-width: 768px) {...}

@media only screen and (min-width: 992px) {...}

@media only screen and (min-width: 1200px) {...}
*/