.cardBackground {
	background-color: #303f50;
}

.experienceHeading {
	margin-top: 40vh!important;
	margin-bottom: -2vh!important;
}

.experienceSection {
	margin-bottom: 45vh;
}

p {
	color: black;
}