.cardBackground {
	background-color: #303f50;
	width: 70vw;
	height:45vh;
}


.cardTitle {
	color:#FCF5F6;
}

.time {
	margin-top: 1vh;
	font-weight:100;
	float:right;
	font-size:14px;
}

.cardSubtitle {

	font-size:16px;
	font-weight:300;
	color:#FCF5F6;
}



.ul {
	width: 60vw;
	margin-top: 5vh;
	font-weight: 300;
}

.ul:hover{
	font-weight: 300;
}

.li {
	margin-bottom: 2vh;
}